<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.lunchSelect.repository.LunchSelectRepository">

	<resultMap type="com.korit.lunchSelect.entity.Room" id="RoomMap">
		<id property="roomId" column="room_id"/>
		<result property="roomMasterCode" column="room_master_code"/>
		<result property="roomGuestCode" column="room_guest_code"/>
		<result property="roomMasterId" column="room_master_id"/>
		<result property="flag" column="flag"/>
	</resultMap>

	<insert id="createLunchSelectRoom" parameterType="com.korit.lunchSelect.entity.Room"
	useGeneratedKeys="true"
	keyProperty="roomId"> 
		insert into room_tb
		values(0, #{roomMasterCode}, #{roomGuestCode}, #{roomMasterId}, 1)
	</insert>

	<select id="getGuestURL" parameterType="String" resultType="String">
		SELECT
			room_guest_code
		FROM
			room_tb
		WHERE
			room_master_code = #{roomMasterCode}
		and flag = 1
	</select>

	<select id="checkRoom" parameterType="String" resultType="String">
		SELECT
			room_master_code
		FROM
			room_tb
		WHERE
			room_guest_code = #{guestURL}
		and flag = 1
	</select>
	
	<insert id="roomGuestInsert" parameterType="hashmap">
	INSERT INTO room_join_tb
	VALUES
	<foreach collection="categoryIds" item="categoryId" separator="," >
		(
			0,
			(SELECT room_id FROM room_tb WHERE room_guest_code = #{guestURL} AND flag = 1),
			#{userId},
			#{categoryId}
		)
	</foreach>
	</insert>


	<insert id="roomMasterInsert" parameterType="hashmap">
	INSERT INTO room_join_tb
	VALUES
	<foreach collection="categoryIds" item="categoryId" separator="," >
		(
			0,
			(SELECT room_id FROM room_tb WHERE room_master_code = #{masterURL} AND flag = 1),
			#{userId},
			#{categoryId}
		)
	</foreach>
	</insert>

	
	<select id="findMasterCode" parameterType="Integer" resultType="Integer">
		SELECT
			room_id
		FROM
			room_tb
		WHERE
			room_master_id = #{userId}
		and flag = 1
	</select>
	

	<update id="roomUpdateFlag" parameterType="String">
		update
			room_tb
		set
			flag = 0
		where
			room_master_code = #{roomMasterCode};
	</update>


</mapper>